%flex-row-centered {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

%flex-column-centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

%flex-list {
	display: flex;
	justify-content: space-between;
	padding: 0 30rpx;
	height: 100rpx;
	line-height: 100rpx;
}

.container {
	height: 100vh;
	overflow-y: auto;
	padding-bottom: 112rpx;
}
.user-section {
	/*  #ifdef MP */
	// height: 530rpx;
	padding: 70rpx 0 40rpx;
	/* #endif */
	/*  #ifdef H5 || MP-ALIPAY*/
	// height: 430rpx;
	padding: 70rpx 0 40rpx;
	/* #endif */
	box-sizing: border-box;
	position: relative;
	.bg-img {
		overflow: hidden;
		position: absolute;
		width: 100%;
		height: 100%;
		/*  #ifdef MP */
		height: 100%;
		/* #endif */
		top: 0;
		image {
			width: 100%;
			height: 100%;
			/*  #ifdef MP */
			height: 100%;
			/* #endif */
		}
	}
	.user-section-box {
		width: 100%;
		padding: 0 50rpx;
		box-sizing: border-box;
		position: relative;
		z-index: 100;
	}
	.user-info-box {
		display: flex;
		align-items: center;
		&.no-log {
			position: relative;
			z-index: 333;

			.user-title {
				font-size: 40rpx;
				color: #333333;
				line-height: 1.2;
				margin-bottom: 16rpx;
			}

			.user-desc {
				border: none !important;
				font-size: $font-size-base;
				color: #333333 !important;
				padding: 0 !important;
			}
		}

		.user-head {
			box-sizing: content-box;
			width: 110rpx;
			height: 110rpx;
			border: 4rpx solid #fff;
			border-radius: 50%;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;

			image {
				width: 106rpx;
				height: 106rpx;
			}
		}

		.user-box {
			flex: 1;
			display: flex;
			flex-direction: column;
			margin-left: 17rpx;
			height: 100%;
			text {
				width: 300rpx;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-size: 34rpx;
				color: #333333;
				line-height: 1;
				font-weight: bold;
			}
			.user-label {
				margin-top: 18rpx;
				
				text,view {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					color: #FEE8BD;
					padding: 4rpx 16rpx;
					font-size: $font-size-tag;
					line-height: 1;
					background: #503021;
					width: fit-content;
					border-radius: 40rpx;
					image{
						width: 24rpx;
						height: 24rpx;
						margin-bottom: -2rpx;
						margin-right: 6rpx;
					}
				}
			}
		}
	}

	.user-set {
		position: absolute;
		right: 30rpx;
		/* #ifdef  MP*/
		top: 20rpx;
		/* #endif */
		/* #ifdef  H5 || MP-ALIPAY*/
		top: 10rpx;
		/* #endif */
		display: flex;
		align-items: center;

		.iconfont {
			font-size: 40rpx;
			color: #fff;
			line-height: 1;
		}
		>view{
			height: 42rpx;
		}
		image{
			width: 40rpx;
			height: 40rpx;
		}
		.message-icon {
			position: relative;
			
			.message-num {
				position: absolute;
				top: -14rpx;
				right: -14rpx;
				width: 30rpx;
				height: 30rpx;
				font-size: 18rpx;
				line-height: 30rpx;
				text-align: center;
				color: #fff;
				border-radius: 50%;
				z-index: 99;
			}
		}
	}
}
.member-body {
	position: relative;
	// margin-top: -58rpx;
	// padding: 0 20rpx;
	margin: 24rpx;
	margin-top: -30rpx;
}

.member-sction {
	@extend %flex-row-centered;
	height: 140rpx;
	border-radius: 10rpx;
	margin-top: $margin-updown;
	margin: 10px -50rpx 0;

	.line {
		width: 2rpx;
		height: 40%;
		background: rgba(243, 243, 243, 0.5);
	}
	.sction-item {
		@extend %flex-column-centered;
		line-height: 1.5;
		width: 30%;
		text {
			font-size: $font-size-base;
			color: #333333;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			text-align: center;
		}
		.sction-item-name {
			font-size: $font-size-tag;
		}
		.num {
			font-size: 36rpx;
			font-weight: bold;
		}
	}
}

.order-section {
	overflow: hidden;
	background-color: #fff;
	border-radius: 16rpx;
	padding: 10rpx 0;
	.order-head {
		@extend %flex-list;
		padding: 0;
		margin: 0 30rpx;
		border-bottom: 1rpx solid #e8e8e8;

		.order-tit {
			font-size: $font-size-base;
			font-weight: 500;
			color: $color-title;
		}

		.order-tip {
			margin-left: auto;
			margin-right: 6rpx;
			color: $color-tip;
			font-size: $font-size-tag;
			letter-spacing: 3rpx;
		}

		.order-more {
			color: lighten($color-tip, 10%);
			font-size: $font-size-tag;
		}
	}
	.order-body {
		@extend %flex-row-centered;
		height: 150rpx;
		box-sizing: border-box;

		.order-item {
			@extend %flex-column-centered;
			position: relative;
			.line{
				position: absolute;
				height: 128rpx;
				width: 34rpx;
				left: -38rpx;
				top: -20rpx;
				
			}
			.order-icon {
				position: relative;
				line-height: 1;

				.order-num {
					position: absolute;
					top: -18rpx;
					right: -22rpx;
					width: 30rpx;
					height: 30rpx;
					font-size: $font-size-tag;
					line-height: 30rpx;
					text-align: center;
					color: #fff;
					padding: 6rpx;
					border-radius: 50%;
					z-index: 99;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				image {
					width: 48rpx;
					height: 48rpx;
				}
				.iconfont {
					font-size: $font-size-base + 16rpx;
				}
			}

			.order-name {
				font-size: 24rpx;
				color: $color-title;
				margin-top: 6rpx;
				color: #444444;
			}
		}
	}
}
.member-level {
	width: 100%;
	padding: 0 24rpx 10rpx;
	box-sizing: border-box;
	position: relative;
	margin-top: 20rpx;
	&.no-default-level {
		padding-bottom: 20rpx;
		.member {
			bottom: 20rpx;
		}
	}
	.member {
		position: absolute;
		width: 69rpx;
		height: 75rpx;
		right: 30rpx;
		bottom: 20rpx;
		image {
			width: 69rpx;
			height: 75rpx;
		}
	}
	.member-level-box {
		// width: 702rpx;
		height: 88rpx;
		padding: 0 $padding;
		border-radius: 6px;
		background: linear-gradient(to right, darken(#ffb644, 43%), #1d1d1d);
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #833514;
		background-size: 100% 100%;
		background-repeat: no-repeat;

		.img-wrap {
			display: flex;
			color: #833514;
			font-size: $font-size-tag;
			.img-v {
				height: 37rpx;
				width: 37rpx;
				margin-right: 10rpx;
			}
			.text{
				color: #68320F;
				margin: 0;
				font-size: 30rpx;
				font-weight: bold;
			}
			.desc{
				color: #833514;
				font-size: 26rpx;
				margin-left: 20rpx;
				padding-left: 20rpx;
				position: relative;
				&::before{
					content: ' ';
					width: 2rpx;
					height: 28rpx;
					position: absolute;
					background-color: #833514;
					left: 0;
					top: 4rpx;
				}
			}
		}

		.memeber-tit {
			margin-right: 0;
		}
		.member-title {
			height: 50rpx;
			background: linear-gradient(90deg, #843616 0%, #503021 100%);
			border-radius: 26rpx;
			color: #FFD590;
			display: flex;
			align-items: center;
			padding: 0 24rpx;
		}
		text {
			font-size: $font-size-tag;
			line-height: 1;
			display: flex;
			align-items: center;
			text {
				display: inline-block;
			}
		}
	}
}

.example-body {
	overflow: hidden;
	margin-bottom: 40rpx;
	margin: $margin-updown 0 40rpx;
	padding-bottom: 30rpx;
	background: #f7f7f7;
	border-radius: 16rpx;
	.example-body-head {
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		padding: 0 30rpx;
		height: 100rpx;
		line-height: 100rpx;
	}
	.example-tit {
		font-size: 30rpx;
		font-weight: bold;
		color: #121836;
	}
	.example-tit-palace {
		background-color: #fff;
	}
}

.image {
	width: 60rpx;
	height: 60rpx;
}

.text {
	font-size: $font-size-sub;
	margin-top: 10rpx;
	color: #666666;
	&.servicer {
		width: 90%;
	}
	&.kefu-btn {
		border: none;
		margin: 0;
		padding: 0;
		width: 90%;
		background-color: transparent;
		&.init {
			text-align: initial;
		}
	}
}

.copyright-info {
	margin-bottom: 40rpx;
	@extend %flex-column-centered;

	.copyright-pic {
		width: 180rpx;
		height: 180rpx;
		margin: auto;
		image {
			width: 100%;
			height: 100% !important;
		}
	}

	text {
		font-size: $font-size-tag;
		height: 100rpx;
		line-height: 100rpx;
		color: $color-tip;
	}

	.copyright-desc {
		color: lighten($color-tip, 30%);
		font-size: $font-size-tag;
		text-shadow: 0 0 1px lighten($color-tip, 40%);
	}
}

.member-adv {
	display: flex;
	justify-content: space-between;
	height: 152rpx;
	box-sizing: border-box;
	border-radius: 10rpx;
	margin: 20rpx;

	> navigator {
		position: relative;
		width: 344rpx;

		image {
			display: block;
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.list-style {
	background-color: #fff;
	.list-style-item {
		.text {
			font-size: $font-size-sub;
		}
		&.interval {
			margin-top: 10px;
		}
		&.interval:nth-child(1) {
			margin-top: 0;
		}
		&.no-interval {
			height: 100rpx;
			border-top: 1rpx solid #e8e8e8;
			margin: 0px 15px;
			padding: 0 10rpx;
			.text {
				margin-top: 0;
			}
		}
		padding: 0 10px;
		background-color: #fff;
		display: flex;
		align-items: center;
		height: 40px;
		.image {
			margin-right: 10px;
			width: 46rpx;
			height: 46rpx;
		}
		.iconfont {
			margin-left: auto;
			color: #a6b4cd;
		}
	}
}

.member-complete-info-popup {
	.complete-info-wrap {
		background: #fff;
		padding: 50rpx 40rpx 40rpx;
		padding-bottom: calc(40rpx + constant(safe-area-inset-bottom));
		padding-bottom: calc(40rpx + env(safe-area-inset-bottom));

		.head {
			position: relative;
			border-bottom: 2rpx solid $color-line;
			padding-bottom: 20rpx;

			.title {
				font-size: $font-size-toolbar;
				display: block;
			}

			.tips {
				font-size: $font-size-base;
				display: block;
			}

			.iconfont {
				position: absolute;
				right: 0;
				top: -30rpx;
				display: inline-block;
				width: 56rpx;
				height: 56rpx;
				line-height: 56rpx;
				text-align: right;
				font-size: $font-size-toolbar;
				font-weight: bold;
			}
		}

		.item-wrap {
			border-bottom: 2rpx solid $color-line;
			display: flex;
			align-items: center;
			padding: 20rpx 0;

			.label {
				font-size: $font-size-toolbar;
				margin-right: 40rpx;
			}

			button {
				background: transparent;
				margin: 0;
				padding: 0;
				border-radius: 0;
				flex: 1;
				text-align: left;
				display: flex;
				align-items: center;
				font-size: $font-size-toolbar;

				image {
					width: 100rpx;
					height: 100rpx;
					border-radius: 10rpx;
					overflow: hidden;
				}
			}

			.iconfont {
				flex: 1;
				text-align: right;
			}

			input {
				flex: 1;
				height: 80rpx;
				box-sizing: border-box;
				font-size: $font-size-toolbar;
			}
		}

		.save-btn {
			width: 280rpx;
			height: 90rpx;
			line-height: 90rpx;
			background-color: #07c160;
			color: #fff;
			margin: 40rpx auto 20rpx;
		}
	}
}

.member-complete-info-popup ::v-deep .uni-popup__wrapper.bottom,
.member-complete-info-popup ::v-deep .uni-popup__wrapper.bottom .uni-popup__wrapper-box {
	border-top-left-radius: 30rpx !important;
	border-top-right-radius: 30rpx !important;
}